@{
  ViewData["Title"] = "Audit Log";
  var recentLog = (List<AuditLogEntry>)ViewData["recentLog"];
}
@section StyleSheets{
  <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Scripts{
  <script src="~/lib/core-js/core.min.js"></script>
  <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Audit Log</li>
  </ol>
</nav>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="recentTab" data-toggle="tab" href="#recentContent">Recent Actions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="searchTab" data-toggle="tab" href="#searchContent">Search</a>
  </li>
</ul>

<div class="tab-content" id="tabContent">

  <div class="tab-pane fade show active" id="recentContent">
    <table data-toggle="table" data-search="true">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var entry in recentLog)
        {
          <tr>
            <td>@entry.Timestamp</td>
            <td>@entry.Message</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="searchContent">
  </div>

</div>
