@{
  ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
  <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Upload">
    <div class="form-group">
      <div class="form-group">
        <label for="uploadFile">Select File</label>
        <input type="file" name="file" class="form-control-file" id="uploadFile">
      </div>
      <div class="form-group">
          <input type="submit" class="input-group-text" value="Upload">
      </div>
    </div>
</form>
  <h1 class="display-4 text-center"> Welcome to Probation Access Manager (PAM) </h1>
  <hr>
  <p>
    Veniam commodo quis ex eiusmod cupidatat duis nisi ea ex tempor proident. Consectetur
    officia quis reprehenderit deserunt eu nisi aliqua proident sit eu reprehenderit qui cupidatat qui.
    Officia consectetur culpa adipisicing incididunt commodo officia eiusmod. Pariatur ea qui occaecat
    quis quis dolor aute. Anim Lorem enim proident ea exercitation proident eu proident exercitation magna.
  </p>
  <p>
    Veniam commodo quis ex eiusmod cupidatat duis nisi ea ex tempor proident. Consectetur
    officia quis reprehenderit deserunt eu nisi aliqua proident sit eu reprehenderit qui cupidatat qui.
    Officia consectetur culpa adipisicing incididunt commodo officia eiusmod. Pariatur ea qui occaecat
    quis quis dolor aute. Anim Lorem enim proident ea exercitation proident eu proident exercitation magna.
  </p>
  <p>
    Veniam commodo quis ex eiusmod cupidatat duis nisi ea ex tempor proident. Consectetur
    officia quis reprehenderit deserunt eu nisi aliqua proident sit eu reprehenderit qui cupidatat qui.
    Officia consectetur culpa adipisicing incididunt commodo officia eiusmod. Pariatur ea qui occaecat
    quis quis dolor aute. Anim Lorem enim proident ea exercitation proident eu proident exercitation magna.
  </p>
</div>
