@{
  ViewData["Title"] = "Units";
}
@section Scripts {
  <script src="~/lib/bootstrap-treeview/bootstrap-treeview.min.js"></script>
  <script>
  $(function(){
    $('#tree').treeview({
      data: @Html.Raw(@ViewData["tree"]),
      levels: 1,
      expandIcon: "fa fa-caret-down",
      collapseIcon: "fa fa-caret-up",
      onNodeSelected: function (event, node) {
        if (node.type == 'Bureau') {
          $("#systems").empty();
          return;
        }
        $("#unitId").val(node.id);
        $.ajax({
          url: "/api/portfolio/" + node.id,
          success: function (data) {
            $("#systems").empty();
            data.forEach(function (system) {
              $("#systems").append("<tr><td>" + system.systemId + "</td><td>"
                + system.name + "</td><td>"
                + (system.description ? system.description : '') + "</td></tr>");
            });
          }
        })
      }
    });
  });
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Units</li>
  </ol>
</nav>

<div class="row">
  <div class="col-12 col-md-6 mb-3">
    <div id="tree"></div>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <p>System Portfolio</p>
    <table class="table sticky-top">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody id="systems"></tbody>
    </table>
  </div>
</div>
