@{ var identity = (ClaimsIdentity)User.Identity; }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lux.css" />
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="stylesheet" href="~/css/w3autocomplete.css">
  <title>PAM - @ViewData["Title"]</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <img src="~/images/ProbBadge.png" style="width: 90px;  padding-right: 1em;" />
    <a href="/Account/Welcome" class="navbar-brand" style="color:gold; font-size: 18px;"> Probation <br /> Access <br /> Manager </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navDropDown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navDropDownMenu" data-toggle="dropdown" aria-haspopup="true" href="/Request/Self">Requests</a>
          <ul class="dropdown-menu" aria-labeledby="navDropDownMenu">
            <li><a class="dropdown-item" href="/Request/Self">Your Requests</a> </li>
            <li><a class="dropdown-item" href="#">Review Requests</a> </li>
            <li><a class="dropdown-item" href="#">Process Requests</a> </li>
            <li><a class="dropdown-item" href="#">All Requests</a> </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Reports</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" href="/Management/WelcomePage">Management</a>
          <ul class="dropdown-menu" aria-labeledby="navDropDownMenu">
            <li><a asp-controller="Management" asp-action="Locations" class="dropdown-item">Locations</a> </li>
            <li><a asp-controller="Management" asp-action="Bureaus" class="dropdown-item">Bureaus</a> </li>
            <li><a asp-controller="Management" asp-action="Units" class="dropdown-item">Units</a> </li>
            <li><a asp-controller="Management" asp-action="Systems" class="dropdown-item">Systems</a> </li>
          </ul>
        </li>
      </ul>
      <form asp-controller="Account" asp-action="Logout" method="post">
        <span style="color:white; font-size: 18px;"> Welcome, @identity.GetClaim(ClaimTypes.GivenName) </span>
        <button type="button" data-toggle="modal" data-target=".logoutModal" class="btn btn-secondary" style="margin: 0 30px 0 20px;">Logout</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="form-container shadow-lg">
          @RenderBody()
        </div>
      </div>
    </div>
  </div>
  <p style="text-align:center; color:white;">&copy; Copyright 2018-2019. Los Angeles County. </p>
  <form asp-controller="Account" asp-action="Logout" method="post">
    <div class="modal logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body text-center" style="font-size:18px;"> Are you sure you want to log-off?</div>
          <div class="modal-footer"><button type="submit" class="btn btn-primary btn-block">Logout</button></div>
        </div>
      </div>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="~/js/w3autocomplete.js"></script>
</body>
</html>
