@{ var identity = (ClaimsIdentity)User.Identity; }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/css/bootstrap.css" />
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="stylesheet" href="~/css/w3autocomplete.css">
  <title>PAM - @ViewData["Title"]</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <img src="~/images/ProbBadge.png" style="width: 90px;  padding-right: 1em;" />
    <i class="navbar-brand" href="" style="color:gold;"> Probation <br /> Access <br /> Manager </i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Request/Self">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Management/WelcomePage">Managment</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-xl-2 mb-2">
        <!--
        <p style="background-color: white; border-radius: 7px; color:black;">Welcome, @identity.GetClaim(ClaimTypes.GivenName)</p>
        -->
        <nav class="navbar navbar-dark bg-dark" style="border-radius:7px;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Your Request</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Review Requests</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Process Requests</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">All Requests</a>
            </li>
          </ul>
        </nav>
        <br />
        <!-- this is where I should show my Location/Bureau/Uints/Systems Navigation-->
        <nav class="navbar navbar-dark bg-dark" style="border-radius:7px;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Locations">Locations Manager</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Bureaus">Bureaus Manager</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Units">Units Manager</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Systems">Systems Manager</a>
            </li>
          </ul>
        </nav>
        <form asp-controller="Account" asp-action="Logout" method="post">
          <button type="submit" class="btn btn-secondary" style="border-radius: 7px; margin-top: 20px; width: 100%;">Logout</button>
        </form>
      </div>
      <div class="col-xl-10">
        <div class="form-container shadow-lg">
          @RenderBody()
        </div>
      </div>
    </div>
  </div>
  <p style="text-align:center; color:white;">&copy; Copyright 2018-2019. Los Angeles County. </p>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="~/js/w3autocomplete.js"></script>
  <script src="~/js/scripts.js"></script>
</body>
</html>
