<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootswatch/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewBag.Title - PAM Mock UI</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
