<nav class="navbar navbar-dark bg-dark" style="border-radius:7px;">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Locations">Locations Manager</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Bureaus">Bureaus Manager</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Units">Units Manager</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Systems">Systems Manager</a>
    </li>
  </ul>
</nav>

