<p style="font-size: 40px;" class="text-center">New Registration Request Form</p>
<hr>
<div class="progressbar-container">
  <ul class="progressbar">

    <li class="step"><a asp-action="CreateRequester">Self or For</a></li>
    <li class="step"><a asp-action="RequesterInfo">Requester(s) Information</a></li>
    <li class="step"><a asp-action="RequestType">Request Type</a></li>
    <li class="step"><a asp-action="">Unit Selection</a></li>
    <li class="step"><a asp-action="">System Selection</a></li>
    <li class="step"><a asp-action="RequestInfo">Request Information</a></li>
    <li class="step"><a asp-action="Supervisors">Supervisors</a></li>
    <li class="step"><a asp-action="Review">Review</a></li>
  </ul>
</div>
<hr>

<script>
  function stepIndicate(n) {
    let x = document.getElementsByClassName("step");
    let stepTitle = '@ViewData["Title"]';
    switch (stepTitle) {
      case "New Request":
        x[0].className += " active";
        break;
      case "Requester Information":
        x[1].className += " active";
        break;
      case "Request Type":
        x[2].className += " active";
        break;
      case "Unit Selection":
        x[3].className += " active";
        break;
      case "System Selection":
        x[4].className += " active";
        break;
      case "Request Information":
        x[5].className += " active";
        break;
      case "Supervisors":
        x[6].className += " active";
        break;
      case "Review":
        x[7].className += " active";
        break;
      default:
        break;
    }
  }
</script>
