@* This is the progress bar for portfolio requests.*@
<div class="progressbar-container">
  <ul class="progressbar">
    <li class="step" data-title="Requester Information"><a class="d-none d-md-inline" asp-action="RequesterInfo">Requester Information</a></li>
    <li class="step" data-title="Unit Selection"><a class="d-none d-md-inline" asp-action="SelectUnit">Unit Selection</a></li>
    <li class="step" data-title="Select Systems"><a class="d-none d-md-inline" asp-action="SelectSystems">System Selection</a></li>
    <li class="step" data-title="Additional Info"><a class="d-none d-md-inline" asp-action="AdditionalInfo">Additional Information</a></li>
    <li class="step" data-title="Approvers"><a class="d-none d-md-inline" asp-action="Reviewers">Signature(s)</a></li>
    <li class="step" data-title="Summary"><a class="d-none d-md-inline" asp-action="Summary">Summary</a></li>
  </ul>
</div>
<hr>
