@model PAM.Models.Request
@{
    ViewData["Title"] = "Delete";
}

<body>
    <div class="text-center">
        <h1>Confirm Delete?</h1>
    <form asp-controller="Request" asp-action="Delete" method="post">
        <button type="submit" class="btn btn-info"> Yes </button>
    </form>
     </br>
    <form asp-controller="Request" asp-action="Self" method="get">
        <button type="submit" class="btn btn-info"> No </button>
    </form>
    </div>
</body>
