@using PAM.Models
@using PAM.Extensions

@model PAM.Models.Request

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var requester = HttpContextAccessor.HttpContext.Session.GetObject<Requester>("Requester");
    ViewData["Title"] = "Requester Information";
}

<body>
    <partial name="_ProgressBar.cshtml" />
    <form asp-controller="RequesterInfo">
        <input asp-for="RequestedFor.Username" value="@requester.Username" type="hidden" />
        <input asp-for="RequestedFor.Name" value="@requester.Username" type="hidden" />
        <div class="shadow-container">
            <div class="alert alert-info">
                Please Complete their Information
            </div>
            <p class="text-danger"> *Required Fields </p>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="countyDeptName">County Dept. Name</label>
                    <input asp-for="RequestedFor.Department" type="text" class="form-control" id="countyDeptName" placeholder="Ex. Probation">
                </div>
                <div class="form-group col-md-2">
                    <label for="countyDeptNum">County Dept. #</label>
                    <input asp-for="RequestedFor.DepartmentCode" type="text" class="form-control" id="countyDeptNum" placeholder="Dept. #">
                </div>
                <div class="form-group col-md-5">
                    <label for="countyEmail">County Email Address</label>
                    <input asp-for="RequestedFor.Email" type="text" class="form-control" id="validate" placeholder="Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="validateFirstName">First Name*</label>
                    <input asp-for="RequestedFor.FirstName" type="text" class="form-control" id="validate" placeholder="First Name">
                </div>
                <div class="form-group col-md-5">
                    <label for="validateLastName">Last Name*</label>
                    <input asp-for="RequestedFor.LastName" type="text" class="form-control" id="validate" placeholder="Last Name">
                </div>
                <div class="form-group col-md-2">
                    <label for="middleName">Middle Name</label>
                    <input asp-for="RequestedFor.MiddleName" type="text" class="form-control" id="middleName" placeholder="Middle Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="locationPhoneNum">Employee Location Phone #</label>
                    <input asp-for="RequestedFor.WorkPhone" type="text" class="form-control" id="locationPhoneNum" placeholder="(_ _ _) _ _ _ - _ _ _ _">
                </div>
                <div class="form-group col-md-4">
                    <label for="employeeCellNum">Employee Cell Phone #</label>
                    <input asp-for="RequestedFor.CellPhone" type="text" class="form-control" id="employeeCellNum" placeholder="(_ _ _) _ _ _ - _ _ _ _">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 offset-1">
                    <label for="payrollTitle">Payroll Title</label>
                    <input asp-for="RequestedFor.PayrollTitle" type="text" class="form-control" id="payrollTitle" placeholder="" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-info float-right m-3" onclick="progressBar(20)"> Next </button>
    </form>
</body>
