@model PAM.Models.Unit

<body>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap-treeview/dist/css/bootstrap-treeview.min.css" rel="stylesheet" />*@
    <partial name="_ProgressBar.cshtml" />
    <form asp-controller="SelectUnit" asp-action="">
        <h2>Unit Select Test</h2>
        <div id="tree"></div>
        <button type="submit" class="btn btn-info float-right m-3" onclick="progressBar(80)"> Next </button>
    </form>
    <form asp-controller="RequesterInfo" asp-action="RequestOther" method="post">
        <button type="button" class="btn btn-info float-right m-3" style="display:inline-block">Previous</button>
    </form>
    <form asp-controller="Draft">
        <button type="button" class="btn btn-warning float-left m-3"> Save Draft </button>
    </form>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
    <script>
        var mytree = @Html.Raw(@ViewData["UnitList"]);
        $('#tree').treeview({ data: mytree });
    </script>
</body>
