@model PAM.Models.Employee
@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
<body>
    <div class="bg-display">
        <div class="login-container">
            <div class="logo">
                <img src="~/Images/ProbBadge.png" alt="LA COUNTY PROBATION LOGO" />
            </div>
            <span class="login-title"> Probation Access Manager </span>

            <form asp-controller="Login" asp-action="Login" method="post" class="form-control">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input asp-for="Username" class="form-control" placeholder="Username" data-val-required="Username is required." />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <!--
                    <input asp-for="password" class="form-control" type="password" data-val-required="Password is required." placeholder="Password" />
                    <span asp-validation-for="password" class="text-danger"></span>
                    -->
                </div>
                <button type="submit" class="btn btn-info btn-block" value="submit"> Login </button>
            </form>
            <p>
                <strong>HINT: </strong> The username and password are the same as your network username and password. <br /> <br />
                Questions related to the probation access manager, please contact ISB Help Desk at <strong>(866) 607-3171</strong> or by email at <strong>sysregdesk@probation.lacounty.gov</strong> <br />
            </p>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</body>
}
