<p style="font-size: 40px;" class="text-center">New Registration</p>
<hr>
<div class="progress" style="margin-bottom: 20px;">
    <div class="progress-bar progress-bar-striped bg-info" id="pBar" role="progressbar"
         aria-valuenow="50"
         aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
<script>
    function progressBar(n) {
        /*
        var x = document.getElementsByClassName("step");
        var progressMeter = n * (100 / (x.length - 1));
        var noZero = Math.round(progressMeter);
        */
        document.getElementById("pBar").style.width = n + "%";
        document.getElementById("pBar").innerHTML = noZero.toString() + "% Complete";
    }
</script>
