@using PAM.Models
@using PAM.Extensions

@model PAM.Models.Requester

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var requester = HttpContextAccessor.HttpContext.Session.GetObject<Requester>("Requester");
    ViewData["Title"] = "Requester Information";
}

<body>
    <partial name="../Shared/_ProgressBar.cshtml" />
    <form asp-controller="NewRequest" asp-action="SelfInfo" id="requestForInfo" method="post">
        <input asp-for="Username" value="@requester.Username" type="hidden" />
        <input asp-for="Name" value="@requester.Username" type="hidden" />
        <div class="shadow-container">
            <div class="alert alert-info">
                Please Fill In Their Information
            </div>
            <p class="text-danger"> *Required Fields </p>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="countyDeptName">County Dept. Name</label>
                    <input asp-for="Department" type="text" class="form-control" id="countyDeptName" placeholder="Ex. Probation">
                </div>
                <div class="form-group col-md-2">
                    <label for="countyDeptNum">County Dept. #</label>
                    <input asp-for="DepartmentCode" type="text" class="form-control" id="countyDeptNum" placeholder="Dept. #">
                </div>
                <div class="form-group col-md-5">
                    <label for="countyEmail">County Email Address</label>
                    <input asp-for="Email" type="text" class="form-control" id="validate" placeholder="Email">
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="validateFirstName">First Name*</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="validate" placeholder="First Name">
                </div>
                <div class="form-group col-md-5">
                    <label for="validateLastName">Last Name*</label>
                    <input asp-for="LastName" type="text" class="form-control" id="validate" placeholder="Last Name">
                </div>
                <div class="form-group col-md-2">
                    <label for="middleName">Middle Name</label>
                    <input asp-for="MiddleName" type="text" class="form-control" id="middleName" placeholder="Middle Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="locationPhoneNum">Employee Location Phone #</label>
                    <input asp-for="WorkPhone" type="text" class="form-control" id="locationPhoneNum" placeholder="(_ _ _) _ _ _ - _ _ _ _">
                </div>
                <div class="form-group col-md-4">
                    <label for="employeeCellNum">Employee Cell Phone #</label>
                    <input asp-for="CellPhone" type="text" class="form-control" id="employeeCellNum" placeholder="(_ _ _) _ _ _ - _ _ _ _">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 offset-1">
                    <label for="payrollTitle">Payroll Title</label>
                    <input asp-for="PayrollTitle" type="text" class="form-control" id="payrollTitle" placeholder="" />
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info float-right m-3" onclick="validateForm(); stepIndicate(2)"> Next </button>
    </form>
    <form asp-controller="RequestFor" asp-action="RequestFor" method="get">
        <button type="submit" class="btn btn-info float-right m-3" style="display:inline-block">Previous</button>
    </form>
</body>
<script>
    function validateForm() {
        if (!validateInput()) return false;
        else document.getElementById("requestForInfo").submit();
    }
    function validateInput() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        y = document.getElementsByTagName("input")
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].id == "validate") {
                if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false:
                    valid = false;
                }
            }
        }
        return valid;
    }
</script>
