@{
  ViewData["Title"] = "Review";
}

<body onload="javascript: stepIndicate()">
  <partial name="../Shared/_ProgressBar.cshtml" />
  <form asp-controller="NewRequest" asp-action="CreateRequest">
      <div class="alert alert-info">
        Please confirm that all information is correct.
      </div>
      <div class="alert alert-success">
        Step 1 - Self or For 
      </div>
      <div class="alert alert-success">
        Step 2 - Requester Information
      </div>
      <div class="alert alert-success">
        Step 3 - Request Type
      </div>
      <div class="alert alert-success">
        Step 4 - Unit Selection
      </div>
      <div class="alert alert-success">
        Step 5 - System Selection
      </div>
      <div class="alert alert-success">
        Step 6 - Additional Request Information
      </div>
      <div class="alert alert-success">
        Step 7 - Supervisor's Review
      </div>
    <button type="submit" class="btn btn-primary">Confirm Submit</button> 
    <!-- TODO -->
  </form>
</body>
