@{
  ViewData["Title"] = "Supervisors";
}

<body onload="javascript: stepIndicate()">
  <partial name="../Shared/_ProgressBar.cshtml" />
  <form asp-controller="NewRequest" asp-action="Review" method="post">
    <div class="alert alert-info">
      Step 7 - Select the supervisor(s) to review this request.
    </div>
    <div class="autocomplete" style="width:400px;">
      <label>Supervisors</label>
      <input id="adEmployees" type="text" placeholder="Supervisor" autocomplete="off">
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
</body>

<script>
  var supervisors = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["adEmployees"]));
</script>

