<p>We are sorry to inform you that your System Registration Request ID# @Model.Request.DisplayId
has been denied by @Model.Review.Reviewer.Name for the following reason(s):</p>

<blockquote><p>@Model.Review.Comments</p></blockquote>

<p>PAM Admin</p>
