<p>Your System Registration Request ID# @Model.Request.DisplayId has been updated.
You may access the details of the request at @Model.AppUrl/Request/ViewRequest/@Model.Request.RequestId</p>

<p>PAM Admin</p>
