<p>Your System Registration Request ID# @Model.Request.DisplayId has been approved. The request is
being processed by the support units, and you will be notified once system access is confirmed.</p>

<p>PAM Admin</p>
