<p>A system registration request is waiting for your review:</p>

<table>
    @*<tr><th>Request Type</th><td>@Model.Request.RequestType.DisplayCode</td></tr>*@
    @*<tr><th>Requested For</th><td>@Model.Request.RequestedFor.Name</td></tr>*@
    @*<tr><th>Submitted On</th><td>@Model.Request.SubmittedOn</td></tr>*@
</table>

<p>You may access the details of the request at @Model.AppUrl/Requests/@Model.Request.RequestId</p>

PAM Admin
