@model Request
@{
     var requiredForms = (List<Form>)ViewData["requiredForms"];
     ViewData["Title"] = "Forms";
     ViewData["id"] = @Model.RequestId;
}
@section StyleSheets{
  <link rel="stylesheet" href="~/css/progressbar.css" />
}
@section Scripts {
  <script>
  $(function(){
    var page ='@ViewData["Title"]';
    $("li[data-title='" + page + "']").addClass("active");
    if (@requiredForms.Count() > 0) {
      $("#saveDraft").prop("disabled", true);
      $("#next").prop("disabled", true);
    }
    $("input:file").change(function () {
      var inputFiles = $("input:file").filter(function () {
        return this.value === "";
      });
      if (inputFiles.length == 0) {
        $("#saveDraft").prop("disabled", false);
        $("#next").prop("disabled", false);
      }
    });
    $("#saveDraft").click(function () {
      var form = $(this).parents("form:first");
      form.append("<input type='hidden' name='saveDraft' value='true'>");
      form.submit();
    });
    });
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Request" asp-action="MyRequests">My Requests</a></li>
    <li class="breadcrumb-item active" aria-current="page">Request #@ViewData["id"]</li>
  </ol>
</nav>

<partial name="/Views/Shared/ProgressBars/AddAccess.cshtml" />
<partial name="/Views/Shared/RequestPartials/_Forms.cshtml" />
