@model Bureau
@{
  ViewData["Title"] = "Edit Bureau";
}
@section Scripts{
  <script>
    function confirmRemoval() {
      var msg = "Are you sure you want to remove this bureau?";
      if (confirm(msg))
        window.location.href = "@Context.Request.PathBase/Bureau/RemoveBureau/@Model.BureauId";
    }
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Bureaus">Bureaus</a></li>
    <li class="breadcrumb-item"><a asp-action="ViewBureau" asp-route-id="@Model.BureauId">@Model.Code</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<form method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Code">Code</label>
      <input asp-for="Code" type="text" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="BureauTypeId" class="form-label">Bureau Type</label>
      <select asp-for="BureauTypeId" class="form-control" asp-items="ViewBag.BureauTypes">
        <option value="">- NONE -</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Description">Description</label>
      <input asp-for="Description" type="text" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="DisplayOrder">Display Order</label>
      <input asp-for="DisplayOrder" type="text" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-6">
      <a href="javascript:confirmRemoval()" class="btn btn-danger">Remove Bureau</a>
    </div>
    <div class="col-6 text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
