@model Review

@{
  ViewData["Title"] = "Viewing";
  var request = (Request)ViewData["request"];
}

<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">
    Additional Information
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col">
        <label>Departure Reason</label>
        <span class="form-control">@request.DepartureReason</span>
      </div>
    </div>
  </div>
</div>

<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">
    Systems Requested For Removal
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col" class="d-none d-md-table-cell">Description</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var requestedSystem in request.Systems)
          {
            <tr>
              <td>@requestedSystem.System.SystemId</td>
              <td>@requestedSystem.System.Name</td>
              <td class="d-none d-md-table-cell">@requestedSystem.System.Description</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
