@model Request

<div class="card border-info mb-1">
  <div class="card-header bg-info text-white">Request Information</div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Request Id</label>
        <span class="form-control">@Model.RequestId</span>
      </div>
      <div class="form-group col-md-6">
        <label>Request Type</label>
        <span class="form-control">@Model.RequestType.DisplayCode</span>
      </div>
    </div>
    @if (!Model.IsSelfRequest)
    {
      <div class="row">
        <div class="form-group">
          <label>Prepared By</label>
          <span class="form-control">@Model.RequestedBy.Name</span>
        </div>
      </div>
    }
  </div>
</div>
