@model  Request

<div class="card border-info">
  <div class="card-header bg-info text-white ">
    Signature(s) Required
    <a class="float-right" asp-action="Signatures" asp-route-id="@ViewData["id"]"><i class="fas fa-edit"></i></a>
  </div>
  <div class="card-body">
    @foreach (var review in Model.Reviews)
    {
      <div class="row">
        <div class="form-group col">
          <label>@review.ReviewerTitle</label>
          <span class="form-control">@review.Reviewer.Name</span>
        </div>
      </div>
    }
  </div>
</div>
