@model Request

@{
     var requiredForms = (List<Form>)ViewData["requiredForms"];
}

<p>Please submit all required forms before going onto the next step: </p>
<form asp-action="Forms" enctype="multipart/form-data" method="post">
  @if (!requiredForms.Any())
  {
    <p>No additional form(s) required for the requested system(s).</p>
  }
  @if (requiredForms.Any())
  {
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Form</th>
          <th scope="col">Completed Form</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var form in requiredForms)
        {
          <tr>
            <td>
              <a asp-controller="Files" asp-action="DownloadFile" asp-route-id="@form.FormId"><i class="fas fa-download"></i></a>
              @form.Name
            </td>
            <td>
              <div class="custom-file">
                  <input type="file" name="completedFiles" id="uploadFile" />
              </div>
          </tr>
        }
      </tbody>
    </table>
  }
  <div class="form-row">
    <div class="col-4">
      <button id="saveDraft" class="btn btn-secondary">Save Draft</button>
    </div>
    <div class="col-8 text-right">
      <a asp-action="AdditionalInfo" asp-route-id="@ViewData["id"]" class="btn btn-secondary">Previous</a>
      <button id="next" type="submit" class="btn btn-primary ml-3">Next</button>
    </div>
  </div>
</form>
