@model Location
@{
  ViewData["Title"] = "Add Location";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Locations">Locations</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Location</li>
  </ol>
</nav>

<form method="post">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label asp-for="Name">Name</label>
      <input asp-for="Name" type="text" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Address">Address</label>
      <input asp-for="Address" type="text" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="City">City</label>
      <input asp-for="City" type="text" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="State">State</label>
      <input asp-for="State" type="text" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="Zip">Zip</label>
      <input asp-for="Zip" type="text" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 text-right">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
