@model Location
@{
  ViewData["Title"] = "Edit Location";
}
@section Scripts{
  <script>
    function confirmRemoval() {
      var msg = "Are you sure you want to remove this location?";
      if (confirm(msg))
        window.location.href = "/Location/RemoveLocation/@Model.LocationId";
    }
  </script>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Locations">Locations</a></li>
    <li class="breadcrumb-item"><a asp-action="ViewLocation" asp-route-id="@Model.LocationId">@Model.Name</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<form method="post">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label asp-for="Name">Name</label>
      <input asp-for="Name" type="text" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Address">Address</label>
      <input asp-for="Address" type="text" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="City">City</label>
      <input asp-for="City" type="text" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="State">State</label>
      <input asp-for="State" type="text" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="Zip">Zip</label>
      <input asp-for="Zip" type="text" class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-6">
      <a href="javascript:confirmRemoval()" class="btn btn-danger">Remove Location</a>
    </div>
    <div class="col-6 text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
