@{
    ViewData["Title"] = "Registrations";
}

<body>
    <p style="font-size: 40px;">Registration Requests
        <a href="/Home/NewRegistrations" type="button" class="btn btn-info float-right">+ New Request</a>
    </p>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#myreg"> My Registrations </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#status"> Status </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#allreg"> All Requests </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="myreg">
                <table class="table table-hover table-responsive-xl">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Date / Department </th>
                            <th scope="col"> Type </th>
                            <th scope="col"> Default / Additional </th>
                            <th scope="col"> Prepared by </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row"> 1 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> Approved </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 2 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> Approved </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 3 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> Approved </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 4 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> Draft </td>
                        <td>
                            <a href=""> View </a> <br/> 
                            <a href=""> Edit </a> <br/>
                            <a href=""> Delete </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="status">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Date / Department </th>
                            <th scope="col"> Type</th>
                            <th scope="col"> Default / Additional </th>
                            <th scope="col"> Prepared by </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row"> 1 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> Being Approved </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 2 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> Being Processed </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="allreg">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Date / Department </th>
                            <th scope="col"> Type </th>
                            <th scope="col"> Default / Additional </th>
                            <th scope="col"> Prepared by </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row"> 1 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</body>

