@{
    ViewData["Title"] = "Registrations";
}

<body>
    <p style="font-size: 40px;">My Registrations</p>
    <hr>
    <div class="shadow-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#drafts"> Drafts </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#submitted"> Submitted </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#completed"> Completed </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="drafts">
                <table class="table table-hover table-responsive-xl">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Date / Department </th>
                            <th scope="col"> Type / Status </th>
                            <th scope="col"> Default / Additional </th>
                            <th scope="col"> Prepared by </th>
                            <th scope="col"> Scanned Copy </th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row"> 1 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> </td>
                        <td>
                            <a href=""> View </a>
                            <a href=""> Edit </a>
                            <a href=""> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 2 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> </td>
                        <td>
                            <a href=""> View </a>
                            <a href=""> Edit </a>
                            <a href=""> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 3 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> </td>
                        <td>
                            <a href=""> View </a>
                            <a href=""> Edit </a>
                            <a href=""> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 4 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> </td>
                        <td>
                            <a href=""> View </a>
                            <a href=""> Edit </a>
                            <a href=""> Delete </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="submitted">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Date / Department </th>
                            <th scope="col"> Type / Status </th>
                            <th scope="col"> Default / Additional </th>
                            <th scope="col"> Prepared by </th>
                            <th scope="col"> Scanned Copy </th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row"> 1 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 2 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td> </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="completed">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Date / Department </th>
                            <th scope="col"> Type / Status </th>
                            <th scope="col"> Default / Additional </th>
                            <th scope="col"> Prepared by </th>
                            <th scope="col"> Scanned Copy </th>
                            <th scope="col"> Action </th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row"> 1 </th>
                        <td> Form Name</td>
                        <td> New Hire / Draft </td>
                        <td> Default: Email, Internet, Network </td>
                        <td> Self </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                        <td>
                            <a href=""> View </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

