/*----------------------------------------------------------
    [ Background for Login ]
*/
body {
  background-color: #19547b;
}
.bg-display {
  background-image: url("../Images/losangeles.jpg");
  width: 100%;
  min-height: 100vh;
  justify-content: flex-end;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

/*----------------------------------------------------------
    [ Login Container & Contents ]
*/
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.login-form {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 10px 55px;
  background: linear-gradient(to bottom, #434343 0%, #000000 100%);
  background: -webkit-linear-gradient(to bottom, #434343 0%, #000000 100%);
}

.logo img {
  display: block;
  margin: 0 auto;
}

.login-title {
  font-size: 28px;
  text-align: center;
  display: block;
  padding-bottom: 5%;
}

.input-container {
  width: 100%;
  position: relative;
  color: white;
  border-bottom: 2px solid rgba(255,255,255, 1.0);
  margin-bottom: 30px;
}

.input-edit {
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 5px;
}

.input-edit::placeholder {
  color: white;
}
