.main-content {
  margin: 1em;
}

footer {
  text-align: center;
}

/*
.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-plus:before {
  content: "\002b";
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background: linear-gradient(to right, #E4E5E6 0%, #19547b 50%, #E4E5E6 100%);
  background: -webkit-linear-gradient(to right, #19547b 0%, #E4E5E6 50%, #19547b 100%);
}
input[type=radio] + label:before{
    border: 1px solid #777;
}

label {
    font-style:italic;
}

.navbar a{
    font-size: 14px;
}
i{
background-color: yellow;
} */

/*----------------------------------------------------------
    [ Main Content Styling ]
*/

/*
.content-container {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

.form-container {
    width: 100%;
    height: 100%;
    color: black;
    background: #FFF;
    font-size: 16px;
    border-radius: 7px;
    padding: 20px 30px 30px 30px;
    z-index: -1;
}

.alert {
    border-radius: 7px;
}

.shadow-container {
    height: 80%;
    width: 100%;
    box-shadow: rgb(128, 128, 128) 1px 1px 1px 1px;
    border-radius: 7px;
    padding: 25px 15px 35px 15px;
}

.label-edit {
    font-weight:900;
    font-size: 18px;
}

input.invalid {
    background-color: #ffdddd;
}



*/
/*----------------------------------------------------------
    [ Scroll Bar Styling ]
*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.select-container {
    display: block;
    width: 25%;
    height: 400px;
}
