body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background: linear-gradient(to bottom, #3D7EAA 0%, #E4E5E6 100%);
    background: -webkit-linear-gradient(to bottom, #00416A 0%, #E4E5E6 100%);
}
input[type=radio] + label:before{
    border: 1px solid #777;
}

label {
    font-style:italic;
}

.navbar a{
    font-size: 14px;
}
i{
background-color: yellow;
}
/*----------------------------------------------------------
    [ Background for Login ]
*/
.bg-display {
    background-image: url("../Images/losangeles.jpg");
    width: 100%;
    min-height: 100vh;
    justify-content: flex-end;
    display:flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.bg-display::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

/*----------------------------------------------------------
    [ Login Container & Contents ]
*/
.login-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:white;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.login-container::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}

.login-form{
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 10px 55px;
  background: linear-gradient(to bottom, #434343 0%, #000000 100%);
  background: -webkit-linear-gradient(to bottom, #434343 0%, #000000 100%);
}

.logo img {
  display: block;
  margin: 0 auto;
}

.login-title {
  font-size: 28px;
  text-align: center;
  display: block;
  padding-bottom: 5%;
}

.input-container{
  width: 100%;
  position: relative;
  color:white;
  border-bottom: 2px solid rgba(255,255,255, 1.0);
  margin-bottom: 30px;
}

.input-edit{
  border:none;
  outline:none;
  font-size: 16px;
  color: white;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 5px;
}

.input-edit::placeholder {
  color:white;
}
/*----------------------------------------------------------
    [ Main Content Styling ]
*/
.navbar{
    padding: 0 0 0 1.5rem;
}

.content-container {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

.form-container {
    width: 100%;
    height: 100%;
    color: black;
    background: #FFF;
    font-size: 16px;
    border-radius: 7px;
    padding: 20px 30px 30px 30px;
    z-index: -1;
}

.alert {
    border-radius: 7px;
}

.shadow-container {
    height: 80%;
    width: 100%;
    box-shadow: rgb(128, 128, 128) 1px 1px 1px 1px;
    border-radius: 7px;
    padding: 25px 15px 35px 15px;
}

.label-edit {
    font-weight:900;
    font-size: 18px;
}

input.invalid {
    background-color: #ffdddd;
}

/*----------------------------------------------------------
    [ Progress Bar CSS ]
*/

.progressbar-container{
    width: 100%;
    margin:auto;
}

.progressbar {
    display:flex;
    position: relative;
    margin: 0;
    counter-reset: step;
    z-index: 1;
}
    .progressbar li{
        list-style-type: none;
        width: 12.5%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }
        /*CSS for Progress Bar Circles*/
        .progressbar li:before {
            position:relative;
            width: 25px;
            height: 25px;
            content: counter(step);
            counter-increment: step;
            line-height: 25px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
            z-index: 1;
        }
        /*CSS for Progress Bar Lines*/
        .progressbar li:after {
            width: 100%;
            height: 3px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            transition: width 1s ease-in;
            top: 12px;
            left: -50%;
            z-index: 0;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: green;
        }

            .progressbar li.active:before, .progressbar li.active:after {
                border-color: #55b776;
            }

            .progressbar li.active + li:after {
                background-color: #55b776;
            }

/*----------------------------------------------------------
    [ Scroll Bar Styling ]
*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.select-container {
    display: block;
    width: 25%;
    height: 400px;
}
