@model Request

<div class="card">
  <div class="card-header">Additional Information</div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col">
        <label>Departure Reason</label>
        <span class="form-control">@Model.DepartureReason</span>
      </div>
    </div>
  </div>
</div>
