@model Request

<div class="card">
  <div class="card-header">
    Additional Forms
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Form Name</th>
            <th scope="col">Uploaded File</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var ff in Model.Forms)
          {
            <tr>
              <td>
              <a asp-controller="Files" asp-action="DownloadFile" asp-route-id="@ff.Form.FileId"><i class="fas fa-download"></i></a>
              @ff.Form.Name</td>
              <td>
              <a asp-controller="Files" asp-action="DownloadFile" asp-route-id="@ff.File.FileId"><i class="fas fa-download"></i></a>
              @ff.File.Name</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
