@model Request

<div class="card">
  <div class="card-header">Additional Forms</div>
  <div class="card-body">
    @if (Model.Forms.Count > 0)
    {
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Form</th>
            <th scope="col">Completed Form</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var form in Model.Forms)
          {
            <tr>
              <td>@form.Form.Name</td>
              <td>
                <a class="btn btn-success download" asp-controller="Request" asp-action="DownloadCompletedForm" asp-route-id="@Model.RequestId"
                   asp-route-completedFormId="@form.CompletedFormId">Download</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    else
    {
      <p>No additional form required for the requested system(s).</p>
    }
  </div>
</div>
